.pass-article-cotainer {
  padding: 40px 70px 15%;
  box-sizing: border-box;
  border: 1px solid #c6c6c6;
  margin: 30px;

  .title {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }

  .subTitle {
    font-size: 20px;
    text-align: center;
  }

  .content {
    margin-top: 30px;
    font-size: 16px;

    p {
      text-indent: 35px;
    }

    .red {
      color: #c20808;
      font-weight: bold;
    }

    .fun {
      padding-left: 35px;
    }
  }

  .images {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;

    .fujian {
      margin: 10px 0px;
      height: 20px;
      line-height: 20px;
    }

    .img {
      max-width: 100%;
    }
  }


}