@import '../../style/default.less';

.copyright {
  padding: 12px 0 12px 0;
  font-size: @fontA;
  vertical-align: baseline;
  text-align: center;
  img {
    height: 46px;
  }
  .info {
    color: #fff;
  }
}
